<div class="container row" style="margin-left: auto; margin-right: auto">
<div class="col">
    <div class="container ">
        <!--<h1 class="jumbotron-heading font-weight-light">Cuong Nguyen</h1>-->
        <div class="containter">
            <h1 class=" intro__hello ">
                Hello!
                <img src="public/img/wave.png" width="35px" height="35px">
            </h1>
            <p style="max-width: 400px" class="lead text-muted">
            <!--<p>-->
                Hi, I'm Cuong Nguyen. I'm a senior at UCF Orlando studying Computer Science.

            </p>
        </div>
    </div>
</div>

    <div class="col">
        <!--<div class="section-title">-->
        <blockquote class="col-6">I Write Code <br>But More Than Code</blockquote>
        <!--</div>-->
    </div>
</div>