<div id="about">
    <div class="inner">
        <p class=" pt-2 text-lg-center">HELLO, WORLD! I'M A DEVELOPER</p>
        <br>
    </div>
    <div id="code">
        <div id="console">
            &gt; Cuong.email<br>
            <span class="response"> &nbsp;&nbsp;=&gt;
                <a class="text-secondary" href = "mailto: cuongnguyen001@knights.ucf.edu">"cuongnguyen001@knights.ucf.edu"</a>
                <br/><br/></span>
            &gt; Cuong.phoneNumber<br>
            <span class="response"> &nbsp;&nbsp;=&gt; "(786)393-3352"<br/><br/></span>
            &gt; Cuong.education<br>
            <span class="response"> &nbsp;&nbsp;=&gt; "University of Central Florida"<br/><br/></span>
            &gt; Cuong.major<br>
            <span class="response"> &nbsp;&nbsp;=&gt; "Computer Science"<br/><br/></span>
            &gt; Cuong.expectedGraduation<br>
            <span class="response"> &nbsp;&nbsp;=&gt; "May 2018"<br/><br/></span>
            &gt; Cuong.interests<br>
            <span class="response"> &nbsp;&nbsp;=&gt;
                ["Code","Problem Solving", "Web Design" , "Coffee", "Rock Music", "Vietnamese Foods"]
                <br/><br/>
            </span>
            &gt; Cuong.resume<br>
            <span class="response"> &nbsp;&nbsp;=&gt;
                <a class="text-secondary" href="https://www.dropbox.com/s/o50eng97chikvvh/Cuong%20Nguyen%20-%20Website.pdf?dl=0">CuongNguyenResume.pdf</a>
                <br/><br/></span>

        </div>
    </div>
</div>
<!--skill-->
