<div class="container" style="max-width: 1000px" >
    <div class="card-deck">
        <div class="row">
            <div class="col-6">
                <div class="card bg-secondary m-3" >
                    <div class="card-body justify-content" >
                        <h5 class="card-title font-weight-bold">Virtual Reality Condition Assessment Training Application for FPL</h5>
                        <p class="card-text">A Virtual Reality application where the trainee will use an HTC VIVE and train to asset equipments on the utility.</p>
                        <!--list of language using -->
                        <a href="https://github.com/CNguyen0100/sticker-shock" class="btn btn-light align-self-right">Detail</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-secondary m-3" >
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold ">Sticker Shock</h5>
                        <p class="card-text">Sticker Shock is a marketplace for users looking to sell, trade, or buy new and gently new used clothing. Sticker Shock aims to expand on the idea of a marketplace like Goat to all clothing types. </p>
                        <!--list of language using -->
                        <a href="#" class="btn btn-light align-self-right">Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card bg-secondary m-3"  >
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold ">Simple Mean Web App</h5>
                        <p class="card-text">An website that is written on Mean stack (MongoDB, Express, AngularJS, NodeJS). I implemented an user login system using Passport and integrating Google and Facebook Sign-In. </p>
                        <!--list of language using -->
                        <a href="#" class="btn btn-light align-self-right">Detail</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-secondary m-3"  >
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Hack pack</h5>
                        <p class="card-text">An Collection of generic Java Code that I wrote and collect to use in problem solving competition. It coves most of topic that usually appear in a programming contest such as graph, geometry, dynamic programming  </p>
                        <a href="#" class="btn btn-light align-self-right">Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card bg-secondary m-3"  >
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold ">GitHub HomePage</h5>
                        <p class="card-text">An website which is written using AngularJS and HTML, CSS, and JavaScript. It contains all information and projects that I did.</p>
                        <!--list of language using -->
                        <a href="#" class="btn btn-light align-self-right">Detail</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-secondary m-3"  >
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold ">Small Angular Projects</h5>
                        <p class="card-text">The collection of small projects that I made while reading book about Angular. It using SematicUI for css and Angular,HTML, TypeScript. </p>
                        <!--list of language using -->
                        <a href="#" class="btn btn-light align-self-right">Detail</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

